body {
    font-family: 'Open Sans', sans-serif;
  }
  .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); /* This adds a subtle shadow to your card */
    transition: 0.3s; /* Adds a transition effect when hovering over the card */
  }
  .card-img-top {
    border-top-left-radius: 0.5rem; /* Rounds the top-left corner of the image */
    border-top-right-radius: 0.5rem; /* Rounds the top-right corner of the image */
  }
  .card-body h5 {
    font-weight: 600; /* Makes the title a little bolder */
  }

  /* .card {
    width: 100%;
    margin-left: auto;
    margin-right: auto; 
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
    border-radius: 10px;
    background-color: #12263a; 
    color: #ffffff;
  } */
  .card{
    color:white;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
  }
.movieCard .card{
    padding:25px;
}
.glass{
    color:white;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);

}
.glass.lg{
    font-size:3em;
}
.glass.md{
    font-size:2em;
}
.glass.sm{
    font-size:2em;
    border-radius: 10px;
    padding:10px;
    width:30%;
    text-align: center;
}
.review .note{
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px;
    font-size:10px;
    color:grey;
}
.review .rating{
  position: absolute;
    background-color: black;
    top: 0;
    right: 0;
    margin: 10px;
    padding:3px;
    border-radius: 10px;
}
.review .rating .fa-star.gold, .review .rating .fa-star-half.gold,.movieCard .rating .fa-star.gold, .movieCard .rating .fa-star-half.gold {
  color:gold;
}

.movieCard .rating{
    margin: 10px;
    padding:3px;
    border-radius: 10px;
    font-size:25px;
}