<%- include ('../partials/header') %>

<main>
    <div style="margin-left:25%;margin-right:25%;padding:50px;">
      <h1><b>Login</b></h1>
      <form action="/login" method="POST">
          <div class="form-group">
            <label for="username">Username</label>
            <input type="username" class="form-control" id="username" aria-describedby="username" placeholder="Enter username">
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Enter Password">
          </div>
          <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>
  </main>



<%- include ('../partials/footer') %>