<%- include ('../partials/header') %>

<main>
    <div style="margin-left:25%;margin-right:25%;padding:50px;">
      <h1><b>Register</b></h1>
      <form action="/register" method="POST">
          <div class="form-group">
            <label for="username">Create Username</label>
            <input type="username" class="form-control" id="username" aria-describedby="usernameHelp" placeholder="Enter username">
          </div>
          <div class="form-group">
            <label for="password">Create Password</label>
            <input type="password" class="form-control" id="password" placeholder="Enter password">
          </div>
          <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>
  </main>


<%- include ('../partials/footer') %>